* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background: hsl(45, 100%, 72%);
    color: hsl(0, 0%, 7%);
}

body {
    background-color: hsl(0, 0%, 7%);
}

.nav-mobile-about {
    display: none;
}

.portofolio section h1,
.services section h1,
.contact section h1,
.skill section h1 {
    margin-top: 20px;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portofolio section h1::after,
.services section h1::after,
.contact section h1::after,
.skill section h1::after {
    content: '';
    width: 10%;
    height: 5px;
    margin-top: 5px;
    background-color: #ffbb00;
    border-radius: 10px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li {
    list-style: none;
}

/* INI HEADER YA START */


header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 30px 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    transition: .5s;
    z-index: 10;
}

header ul {
    display: flex;
    gap: 20px;
}

header li {
    font-size: 16px;
}

header li a {
    transition: 0.3s;
}

header li a:hover {
    color: #ffbb00;
}

#name-nav {
    display: none;
}

#name-nav a {
    color: hsl(35, 100%, 68%);
}


header.scrolled {
    color: white;
    backdrop-filter: blur(10px);
    background-color: hsla(240, 1%, 17%, 0.75);
}


.btn-backToHome {
    width: 99%;
    position: fixed;
    bottom: 20px;
    opacity: 0;
}

.btn-backToHome a {
    padding: 10px 16px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background-color: hsla(240, 1%, 17%, 0.75);
    font-size: 28px;
    animation: pop 1s infinite;
    transition: 1s;
}

.btn-backToHome i {
    color: hsl(35, 100%, 68%);
}

/* INI HEADER YA END */


/* INI HOME YA START */
.home {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* ANIMASI MASUK */
.home .text-home {
    animation: inleft 2s;
}

.home .about {
    animation: inright 2s;
}

.home img {
    animation: downup 2s;
}

@keyframes inleft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes inright {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes downup {
    0% {
        transform: translateY(100px);
        opacity: 0;
        z-index: -1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        font-size: 30px;
        box-shadow: none;
    }


    25% {
        font-size: 28px;
        box-shadow: 0px 0px 10px 1px #ffbb00;
    }

    30% {
        font-size: 28px;
        box-shadow: 0px 0px 10px 1px #ffbb00;
    }

    100% {
        font-size: 30px;
        box-shadow: none;
    }
}

.animation {
    animation: opacityUp 6s;
    width: 100%;
}

/* ANIMASI MASUK end*/

.home .text {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.home .text h1 {
    font-size: 42px;
    color: white;
}

.home .text h2 {
    color: #ffbb00;
}

.home .text p {
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.home img {
    width: 350px;
}

.home .imgForMobile {
    display: none;
}

.about {
    width: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.about h1 {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.about h1::after {
    content: '';
    width: 50px;
    height: 5px;
    background-color: #ffbb00;
    border-radius: 10px;
}

.about i {
    margin-right: 10px;
    font-size: 20px;
}

.about a:hover i,
.about a:hover {
    color: #ffbb00;
}

.about a i,
.about a {
    transition: .2s;
}

/* INI HOME YA END */


/* INI PORTOFOLIO YA START */
.portofolio .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.portofolio,
.services,
.contact,
.skill {
    border-radius: 15px;
    border: 1px solid hsla(0, 0%, 25%, 0.562);
    background-color: hsl(240, 2%, 12%);
    width: 1250px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* batas */
.portofolio .card {
    padding-top: 30px;
    cursor: pointer;
}

.portofolio .card h1 {
    font-size: 18px;
    font-weight: 100;
}

.portofolio .card p {
    font-size: 13px;
    color: hsla(0, 0%, 84%, 0.7);
}

.portofolio .card .img {
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.portofolio .card img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.portofolio .card:hover img {
    transform: scale(1.1);
}

.portofolio .card .text-hover {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 73px 131px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.6);
}

.portofolio .card .text-hover a {
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: rgb(49, 49, 49);
}

.portofolio .card .text-hover i {
    color: #ffa600;
}

.portofolio .card:hover .text-hover {
    display: flex;
}

/* INI PORTOFOLIO YA END */


.services .card {
    display: flex;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 25%, 0.562);
    width: 45%;
    background-color: hsl(240, 1%, 15%);
    margin: 1%;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.services .icon i {
    font-size: 25px;
    background-color: #ffbb00;
    color: hsla(0, 0%, 93%, 0.918);
    padding: 7px 5px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 25%, 0.562);
}

.services .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services .text p {
    color: hsl(0, 0%, 84%);
}


.skills-title {
    margin-bottom: 20px;
}

.skills-list {
    padding: 20px;
    width: 100%;
}


.skills-item:not(:last-child) {
    margin-bottom: 15px;
}

.skill .title-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 18px;
}

.skill .h1 {
    color: rgb(170, 169, 169);
}

.skill .title-wrapper data {
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.skill-progress-bg {
    background: gray;
    width: 100%;
    height: 14px;
    border-radius: 10px;
}

.skill-progress-fill {
    background: hsl(45, 100%, 72%);
    height: 100%;
    border-radius: inherit;
}


.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.contact form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact form .address {
    display: flex;
    gap: 20px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    display: flex;
    background-color: transparent;
    border: 1.5px solid hsla(0, 0%, 25%, 0.634);
    resize: none;
    font-size: 17px;
    border-radius: 15px;
}

.contact form input[type="text"],
.contact form input[type="email"] {
    width: 540px;
    height: 60px;
    padding: 20px;
}

.contact form input[type="text"]:focus,
.contact form input[type="email"]:focus,
.contact form textarea:focus {
    outline: none;
    border: 1.5px solid hsl(45, 100%, 72%);
}

.contact form input[type="text"]:focus:invalid,
.contact form input[type="email"]:focus:invalid,
.contact form textarea:focus:invalid {
    border: 1.5px solid hsl(0, 88%, 56%);
}

.contact form textarea {
    width: 1100px;
    padding: 20px;
    height: 200px;
    border-radius: 15px;
}

.contact iframe {
    width: 1100px;
    margin-top: 30px;
    height: 500px;
    border-radius: 10px;
}

.contact form .send {
    display: flex;
    justify-content: end;
}

.contact form .send-btn {
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: transparent;
    border-radius: 15px;
    gap: 10px;
    background-color: hsla(0, 0%, 14%, 0.634);
    box-shadow: 0 5px 10px 0px hsla(0, 0%, 0%, 0.15);
    z-index: 10;
}

.contact form .send-btn:active {
    transform: translateY(5px);
    box-shadow: none;
}

.send-btn span {
    font-size: 23px;
    background-color: transparent;
}

.send-btn span,
.send-btn i {
    color: hsl(45, 100%, 72%);
}